%div
  %hr/
  %ul.breadcrumb
    %li
      %a{:href => '#'} 订单列表
  %hr/
.row
  .col-lg-12
    .box
      .box-header{"data-original-title" => ""}
        %h2
          %i.fa.fa-user
          = succeed "Members" do
            %span.break
        .box-icon
          %a.btn-setting{:href => "table.html#"}
            %i.fa.fa-wrench
          %a.btn-minimize{:href => "table.html#"}
            %i.fa.fa-chevron-up
          %a.btn-close{:href => "table.html#"}
            %i.fa.fa-times
      .box-content
        #DataTables_Table_0_wrapper.dataTables_wrapper.form-inline{:role => "grid"}
          .row
            .col-lg-6
              #DataTables_Table_0_length.dataTables_length
                %label
                  %select{"aria-controls" => "DataTables_Table_0", :name => "DataTables_Table_0_length", :size => "1"}
                    %option{:selected => "selected", :value => "10"} 10
                    %option{:value => "25"} 25
                    %option{:value => "50"} 50
                    %option{:value => "100"} 100
                  records per page
            .col-lg-6
              #DataTables_Table_0_filter.dataTables_filter
                %label
                  Search:
                  %input{"aria-controls" => "DataTables_Table_0", :type => "text"}/
          %table#DataTables_Table_0.table.table-striped.table-bordered.bootstrap-datatable.datatable.dataTable{"aria-describedby" => "DataTables_Table_0_info"}
            %thead
              %tr{:role => "row"}
                %th.sorting_asc{"aria-controls" => "DataTables_Table_0", "aria-label" => "Username: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: 303px;", :tabindex => "0"} Username
                %th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Date registered: activate to sort column ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: 223px;", :tabindex => "0"} Date registered
                %th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Role: activate to sort column ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: 121px;", :tabindex => "0"} Role
                %th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Status: activate to sort column ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: 134px;", :tabindex => "0"} Status
                %th.sorting{"aria-controls" => "DataTables_Table_0", "aria-label" => "Actions: activate to sort column ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :style => "width: 250px;", :tabindex => "0"} Actions
            %tbody{"aria-live" => "polite", "aria-relevant" => "all", :role => "alert"}
              %tr.odd
                %td.sorting_1 Adam Alister
                %td 2012/01/21
                %td Staff
                %td
                  %span.label.label-success Active
                %td
                  %a.btn.btn-success{:href => "table.html#"}
                    %i.fa.fa-search-plus
                  %a.btn.btn-info{:href => "table.html#"}
                    %i.fa.fa-edit
                  %a.btn.btn-danger{:href => "table.html#"}
                    %i.fa.fa-trash-o
              %tr.even
                %td.sorting_1 Adinah Ralph
                %td 2012/06/01
                %td Admin
                %td
                  %span.label.label-default Inactive
                %td
                  %a.btn.btn-success{:href => "table.html#"}
                    %i.fa.fa-search-plus
                  %a.btn.btn-info{:href => "table.html#"}
                    %i.fa.fa-edit
                  %a.btn.btn-danger{:href => "table.html#"}
                    %i.fa.fa-trash-o
              %tr.odd
                %td.sorting_1 Ajith Hristijan
                %td 2012/03/01
                %td Member
                %td
                  %span.label.label-warning Pending
                %td
                  %a.btn.btn-success{:href => "table.html#"}
                    %i.fa.fa-search-plus
                  %a.btn.btn-info{:href => "table.html#"}
                    %i.fa.fa-edit
                  %a.btn.btn-danger{:href => "table.html#"}
                    %i.fa.fa-trash-o
              %tr.even
                %td.sorting_1 Alphonse Ivo
                %td 2012/01/01
                %td Member
                %td
                  %span.label.label-success Active
                %td
                  %a.btn.btn-success{:href => "table.html#"}
                    %i.fa.fa-search-plus
                  %a.btn.btn-info{:href => "table.html#"}
                    %i.fa.fa-edit
                  %a.btn.btn-danger{:href => "table.html#"}
                    %i.fa.fa-trash-o
              %tr.odd
                %td.sorting_1 Anton Phunihel
                %td 2012/01/01
                %td Member
                %td
                  %span.label.label-success Active
                %td
                  %a.btn.btn-success{:href => "table.html#"}
                    %i.fa.fa-search-plus
                  %a.btn.btn-info{:href => "table.html#"}
                    %i.fa.fa-edit
                  %a.btn.btn-danger{:href => "table.html#"}
                    %i.fa.fa-trash-o
              %tr.even
                %td.sorting_1 Bao Gaspar
                %td 2012/01/01
                %td Member
                %td
                  %span.label.label-success Active
                %td
                  %a.btn.btn-success{:href => "table.html#"}
                    %i.fa.fa-search-plus
                  %a.btn.btn-info{:href => "table.html#"}
                    %i.fa.fa-edit
                  %a.btn.btn-danger{:href => "table.html#"}
                    %i.fa.fa-trash-o
              %tr.odd
                %td.sorting_1 Bernhard Shelah
                %td 2012/06/01
                %td Admin
                %td
                  %span.label.label-default Inactive
                %td
                  %a.btn.btn-success{:href => "table.html#"}
                    %i.fa.fa-search-plus
                  %a.btn.btn-info{:href => "table.html#"}
                    %i.fa.fa-edit
                  %a.btn.btn-danger{:href => "table.html#"}
                    %i.fa.fa-trash-o
              %tr.even
                %td.sorting_1 Bünyamin Kasper
                %td 2012/08/23
                %td Staff
                %td
                  %span.label.label-important Banned
                %td
                  %a.btn.btn-success{:href => "table.html#"}
                    %i.fa.fa-search-plus
                  %a.btn.btn-info{:href => "table.html#"}
                    %i.fa.fa-edit
                  %a.btn.btn-danger{:href => "table.html#"}
                    %i.fa.fa-trash-o
              %tr.odd
                %td.sorting_1 Carlito Roffe
                %td 2012/08/23
                %td Staff
                %td
                  %span.label.label-important Banned
                %td
                  %a.btn.btn-success{:href => "table.html#"}
                    %i.fa.fa-search-plus
                  %a.btn.btn-info{:href => "table.html#"}
                    %i.fa.fa-edit
                  %a.btn.btn-danger{:href => "table.html#"}
                    %i.fa.fa-trash-o
              %tr.even
                %td.sorting_1 Chidubem Gottlob
                %td 2012/02/01
                %td Staff
                %td
                  %span.label.label-important Banned
                %td
                  %a.btn.btn-success{:href => "table.html#"}
                    %i.fa.fa-search-plus
                  %a.btn.btn-info{:href => "table.html#"}
                    %i.fa.fa-edit
                  %a.btn.btn-danger{:href => "table.html#"}
                    %i.fa.fa-trash-o
          .row
            .col-lg-12
              #DataTables_Table_0_info.dataTables_info Showing 1 to 10 of 32 entries
            .col-lg-12.center
              .dataTables_paginate.paging_bootstrap
                %ul.pagination
                  %li.prev.disabled
                    %a{:href => "#"} ← Previous
                  %li.active
                    %a{:href => "#"} 1
                  %li
                    %a{:href => "#"} 2
                  %li
                    %a{:href => "#"} 3
                  %li
                    %a{:href => "#"} 4
                  %li.next
                    %a{:href => "#"} Next →
                      / /col