.navbar
  .container
    %button.navbar-toggle{"data-target" => ".sidebar-nav.nav-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "index.html"}
      %img{:alt => "Perfectum Dashboard", :src => asset_path('logo20.png')}/
      %span 悦容汀
    / start: Header Menu
    .header-nav
      %ul.nav.navbar-nav.pull-right
        / start: Notifications Dropdown
        / end: Notifications Dropdown
        / start: Message Dropdown
        / end: Message Dropdown
        %li
          %a.btn{:href => "ui.html#"}
            %i.fa.fa-wrench
        / start: User Dropdown
        %li.dropdown.hidden-xs
          %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "ui.html#"}
            %i.fa.fa-user
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => '/admins/sign_out'}
                %i.fa.fa-off
                退出