.navbar
  .container
    %button.navbar-toggle{"data-target" => ".sidebar-nav.nav-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "index.html"}
      %img{:alt => "Perfectum Dashboard", :src => asset_path('logo20.png')}/
      %span 悦容汀
    / start: Header Menu
    .header-nav
      %ul.nav.navbar-nav.pull-right
        %li.dropdown.hidden-xs
          %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "ui.html#"}
            %i.fa.fa-warning
            %span.label.label-important.hidden-xs 2
            %span.label.label-success.hidden-xs 11
          %ul.dropdown-menu.notifications
            %li
              %span.dropdown-menu-title You have 11 notifications
            %li
              %a{:href => "ui.html#"}
                %i.fa.fa-user
                %span.message New user registration
                %span.time 1 min
            %li
              %a{:href => "ui.html#"}
                %i.fa.fa-comment
                %span.message New comment
                %span.time 7 min
            %li
              %a{:href => "ui.html#"}
                %i.fa.fa-comment
                %span.message New comment
                %span.time 8 min
            %li
              %a{:href => "ui.html#"}
                %i.fa.fa-comment
                %span.message New comment
                %span.time 16 min
            %li
              %a{:href => "ui.html#"}
                %i.fa.fa-user
                %span.message New user registration
                %span.time 36 min
            %li
              %a{:href => "ui.html#"}
                %i.fa.fa-shopping-cart
                %span.message 2 items sold
                %span.time 1 hour
            %li.warning
              %a{:href => "ui.html#"}
                %i.fa.fa-user
                %span.message User deleted account
                %span.time 2 hour
            %li.warning
              %a{:href => "ui.html#"}
                %i.fa.fa-shopping-cart
                %span.message Transaction was canceled
                %span.time 6 hour
            %li
              %a{:href => "ui.html#"}
                %i.fa.fa-comment
                %span.message New comment
                %span.time yesterday
            %li
              %a{:href => "ui.html#"}
                %i.fa.fa-user
                %span.message New user registration
                %span.time yesterday
            %li
              %a.dropdown-menu-sub-footer View all notifications
        / start: Notifications Dropdown
        %li.dropdown.hidden-xs
          %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "ui.html#"}
            %i.fa.fa-tasks
            %span.label.label-warning.hidden-xs 17
          %ul.dropdown-menu.tasks
            %li
              %span.dropdown-menu-title You have 17 tasks in progress
            %li
              %a{:href => "ui.html#"}
                %span.header
                  %span.title iOS Development
                  %span.percent 80%
                .taskProgress.progressSlim.progressYellow.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar"}
                  80
                  .ui-progressbar-value.ui-widget-header.ui-corner-left{:style => "width: 80%;"}
            %li
              %a{:href => "ui.html#"}
                %span.header
                  %span.title Android Development
                  %span.percent 47%
                .taskProgress.progressSlim.progressYellow.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "47", :role => "progressbar"}
                  47
                  .ui-progressbar-value.ui-widget-header.ui-corner-left{:style => "width: 47%;"}
            %li
              %a{:href => "ui.html#"}
                %span.header
                  %span.title Django Project For Google
                  %span.percent 32%
                .taskProgress.progressSlim.progressYellow.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "32", :role => "progressbar"}
                  32
                  .ui-progressbar-value.ui-widget-header.ui-corner-left{:style => "width: 32%;"}
            %li
              %a{:href => "ui.html#"}
                %span.header
                  %span.title SEO for new sites
                  %span.percent 63%
                .taskProgress.progressSlim.progressYellow.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "63", :role => "progressbar"}
                  63
                  .ui-progressbar-value.ui-widget-header.ui-corner-left{:style => "width: 63%;"}
            %li
              %a{:href => "ui.html#"}
                %span.header
                  %span.title New blog posts
                  %span.percent 80%
                .taskProgress.progressSlim.progressYellow.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar"}
                  80
                  .ui-progressbar-value.ui-widget-header.ui-corner-left{:style => "width: 80%;"}
            %li
              %a.dropdown-menu-sub-footer View all tasks
        / end: Notifications Dropdown
        / start: Message Dropdown
        %li.dropdown.hidden-xs
          %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "ui.html#"}
            %i.fa.fa-envelope
            %span.label.label-success.hidden-xs 9
          %ul.dropdown-menu.messages
            %li
              %span.dropdown-menu-title You have 9 messages
            %li
              %a{:href => "ui.html#"}
                %span.avatar
                  %img{:alt => "Avatar", :src => "assets/img/avatar.jpg"}/
                %span.header
                  %span.from
                    Łukasz Holeczek
                  %span.time
                    6 min
                %span.message
                  Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
            %li
              %a{:href => "ui.html#"}
                %span.avatar
                  %img{:alt => "Avatar", :src => "assets/img/avatar2.jpg"}/
                %span.header
                  %span.from
                    Megan Abott
                  %span.time
                    56 min
                %span.message
                  Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
            %li
              %a{:href => "ui.html#"}
                %span.avatar
                  %img{:alt => "Avatar", :src => "assets/img/avatar3.jpg"}/
                %span.header
                  %span.from
                    Kate Ross
                  %span.time
                    3 hours
                %span.message
                  Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
            %li
              %a{:href => "ui.html#"}
                %span.avatar
                  %img{:alt => "Avatar", :src => "assets/img/avatar4.jpg"}/
                %span.header
                  %span.from
                    Julie Blank
                  %span.time
                    yesterday
                %span.message
                  Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
            %li
              %a{:href => "ui.html#"}
                %span.avatar
                  %img{:alt => "Avatar", :src => "assets/img/avatar5.jpg"}/
                %span.header
                  %span.from
                    Jane Sanders
                  %span.time
                    Jul 25, 2012
                %span.message
                  Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
            %li
              %a.dropdown-menu-sub-footer View all messages
        / end: Message Dropdown
        %li
          %a.btn{:href => "ui.html#"}
            %i.fa.fa-wrench
        / start: User Dropdown
        %li.dropdown.hidden-xs
          %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "ui.html#"}
            %i.fa.fa-user
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => '/admins/sign_out'}
                %i.fa.fa-off
                退出