#content.col-sm-10{:style => "min-height: 480px;"}
  / start: Content
  %div
    %hr/
    %ul.breadcrumb
      %li
        %a{:href => "ui.html#"} Home
      %li
        %a{:href => "ui.html#"} UI Features
    %hr/
    = yield