%footer
  %p
    %span{:style => "text-align:left;float:left"}
      © 2013 creativeLabs.
      %a{:href => "http://bootstrapmaster.com"} Admin Templates
      by BootstrapMaster
    %span.hidden-phone{:style => "text-align:right;float:right"}
      Powered by:
      %a{:alt => "Bootstrap Admin Templates", :href => "http://bootstrapmaster.com/demo/perfectum/"} Perfectum Dashboard